/**Imports*/

@import "../bootstrap/bootstrap";

/**Variables*/

  $fontpath: "../css/fonts/rust/";

/**Mixins*/

@mixin font-face($style_name,$file) {
  @font-face {
    font-family: $style_name;
    src: url($fontpath + $file + '.eot'); /* IE9 Compat Modes */
    src: url($fontpath + $file + '.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url($fontpath + $file + '.woff2') format('woff2'), /* Super Modern Browsers */
         url($fontpath + $file + '.woff') format('woff'), /* Pretty Modern Browsers */
         url($fontpath + $file + '.ttf')  format('truetype'), /* Safari, Android, iOS */
         url($fontpath + $file + '.svg#svgFontName') format('svg'); /* Legacy iOS */
  }
};

@include font-face("Rust","introrustg-base2line-webfont");

.navigation{
  background: red;
  display: flex;
}
.titleText{
  font-family: "Rust";
}
